[user]
	name = Kim Nørgaard
	email = kn@netic.dk
[core]
    excludesfile = /Users/kn/.gitignore_global
    editor = nvim
[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = 241
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = magenta
[push]
    default = simple
    autoSetupRemote = true
[alias]
    st = status
    ci = commit -v
    cii = commit --all -m 'Initial commit.'
    br = branch
    co = checkout
    df = diff
    lg = log --oneline --graph --decorate
    workprofile = config user.email "kn@netic.dk"
    privprofile = config user.email "jasen@jasen.dk"
[credential]
    helper = /usr/local/bin/git-credential-helper.sh

[include]
    path = ~/.gitconfig.local

[difftool]
  prompt = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = main
