.vim/tmp
.vim/.VimballRecord
.vim/bundle/*/doc
.vim/.netrwhist
.vim/plugged/
.viminfo

.Xauthority
.cvspass
.gitconfig.local
.zshenv.local
.msmtp.log

.lesshst
.pyhistory
.sqlite_history
.zsh_history
.bash_history

.dropbox/
.contacts/
.dotfiles/
.pypirc
.netrc
.gnupg/
.kube/
.ssh/
.pki/
.vdirsyncer/
.weechat/
.w3m/

.gem/
.cache/
.mozilla/

data/
mail/
Pictures/
src/
tmp/
