.viminfo
.Xauthority
.bash_history
.cvspass
.lesshst
.msmtp.log
.pyhistory
.sqlite_history

.cache/
.calendar/
.contacts/
.docker/
.dotfiles/
.dropbox/
.gem/
.gnupg/
.kube/
.mozilla/
.netrc
.pki/
.pypirc
.ssh/
.vdirsyncer/
.config/vdirsyncer/
.w3m/
.weechat/

data/
mail/
Pictures/
src/
tmp/
