.vim/tmp
.vim/.VimballRecord
.vim/bundle/*/doc
.vim/.netrwhist
.vim/plugged/
.viminfo

.Xauthority
.bash_history
.cvspass
.gitconfig.local
.lesshst
.msmtp.log
.pyhistory
.sqlite_history
.zsh_history
.zshenv.local

.cache/
.calendar/
.contacts/
.docker/
.dotfiles/
.dropbox/
.gem/
.gnupg/
.kube/
.mozilla/
.netrc
.pki/
.pypirc
.ssh/
.vdirsyncer/
.w3m/
.weechat/

data/
mail/
Pictures/
src/
tmp/
