! vim: set foldlevel=0 foldmethod=marker:
! Colors {{{
#define amber_593nm        #ffcc00
#define amber_600nm        #ffb000
#define crt_green          #50fa7b

! gruvbox-dark
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
! }}}

! Xft {{{
Xft.dpi:                   144.0
Xft.autohint:              0
Xft.lcdfilter:             lcddefault
Xft.hintstyle:             hintfull
Xft.hinting:               true
Xft.antialias:             true
Xft.rgba:                  rgb
! }}}

! URxvt {{{
URxvt*cutchars:            "\"(),<>[]{}|'`¬"
URxvt*saveLines:           10000
URxvt*scrollTtyKeypress:   true
URxvt*scrollTtyOutput:     false
URxvt*scrollWithBuffer:    true
URxvt*urgentOnBell:        true
URxvt*visualBell:          true
URxvt.clipboard.autocopy:  true
URxvt.clipboard.copycmd:   xsel -i -b
URxvt.clipboard.pastecmd:  xsel -b
URxvt.depth:               32
! URxvt.font:                xft:Iosevka Term:hinting=True:size=12:style=Regular:antialias=True
!URxvt.font:                xft:Fantasque Sans Mono:size=12
URxvt.font:                xft:IBM Plex Mono:size=12
URxvt.keysym.C-M-Down:     font-size:decglobal
URxvt.keysym.C-M-Up:       font-size:incglobal
URxvt.keysym.M-Delete:     matcher:list
URxvt.keysym.M-Escape:     perl:keyboard-select:activate
URxvt.keysym.M-u:          perl:url-select:select_next
URxvt.letterSpace:         0
URxvt.lineSpace:           0
URxvt.loginShell:          true
URxvt.matcher.button:      1
URxvt.matcher.launcher.0:  xdg-open
URxvt.perl-ext-common:     default,clipboard,matcher,keyboard-select,confirm-paste
URxvt.perl-ext:            url-select
URxvt.scrollBar:           false
URxvt.scrollStyle:         rxvt
URxvt.url-select.launcher: firefox
URxvt.urlLauncher:         xdg-open
! }}}
