ACTION=="change", KERNEL=="card0", SUBSYSTEM=="drm", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/kn/.Xauthority", RUN+="/home/kn/bin/hotplug_display.sh"
