[Unit]
Description=i3lock
Before=suspend.target

[Service]
User=kn
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/kn/bin/lock.sh

[Install]
WantedBy=suspend.target
