SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/powersave.sh bat"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/powersave.sh ac"
